/* body {
  margin-top: 90px;
  margin-bottom: 80px;
} */

.space-15 {
    margin-top: 15px;
}

.space-30 {
    margin-top: 30px;
}

.ql-toolbar {
    margin-left: 12px;
    margin-right: 12px;
}

#quill-content {
    margin-left: 12px;
    margin-right: 12px;
    min-height: 500px;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-brand {
    /* padding: 32px 32px 32px 32px; */
    margin-top:  5px;
}

.sidebar-brand-img {
    border-radius: 100%;
}

.main {
    margin-left: 250px;
}

.sidebar-ul{
    padding-left: 0px;
}

.sidebar-li {
    padding: 8px 8px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

@media only screen and (max-width: 450px) {
    .btn-mobile {
        padding-left: 25%;
    }
    .sidebar {
        width: 50px !important;
    }

    .sidebar-li a span{
        display: none;
    }

    .sidebar-brand h1 {
        display: none;
    }

    .main {
        margin-left: 50px;
    }
}