<div class="row mt-2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h3>Paste List</h3>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <a class="btn btn-success" href="/" target="_blank" role="button">New Paste</a>
        <hr>
        <table id="pastes" class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 25%">Title</th>
                    <th scope="col" style="width: 25%">Content</th>
                    <th scope="col" style="width: 15%">Action</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>